h1 {
text-align: center;
margin-top: 1rem;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
text-shadow: rgb(0, 0, 0) 1px 0 2px;
}
p{
    text-align: center;
    
}
span{
    margin-right: 1rem;
  
}
.btn{
    margin-top:2rem
}
input{
    font-size: 1rem;
}
#out{
   
    background-color: rgba(251, 255, 4, 0.151);
    margin: 5rem;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 2rem;
}

#getP
{
display: inline-block;
font-size: x-large;
}


#input{
    box-sizing: border-box;
    margin-top: 5rem;
    box-shadow: 1px 1px 5px black;
   
}